{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="mx-auto" style="margin: 64px; padding: 56px 32px; border: 2px solid rgba(0, 0, 0, 0.16);">

        {% if messages %}
          {% for message in messages %}
          <p style="color: red;">{{ message }}</p>
          {% endfor %}
        {% endif %}

        <h2 style="padding: 16px 0;">登入</h2>

        <form action="{% url 'member_login' %}" method="POST">
          {% csrf_token %}
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Username or Email" aria-label="Email" name="username">
          </div>


          <br/>
          <div class="input-group">
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password">
          </div>
          <br/>

          <a href="#" class="link-primary">忘記密碼</a>
          <div class="actions" style="padding: 16px 0;">
              <input class="btn btn-primary w-100" type="submit" value="登入">
          </div>
        </form>

        <div>
          <hr style="width:44%;display: inline-block; vertical-align: middle;"/>
          <span>or</span>
          <hr style="width:44%;display: inline-block; vertical-align: middle;"/>
        </div>
        <div>
          <p>
            <small>
              我們永遠不會再不經過您的同意下利用您的帳戶張貼動態於臉書
            </small>
          </p>
        </div>

        <div>
          <hr/>
          <span>
            第一次進來？
            <a href="{% url 'member_register' %}" class="link-primary">註冊</a>
          </span>
        </div>
      </div>
    </div>
    <div class="d-none d-sm-block col-sm-1 col-md-2  col-lg-3"></div>
  </div>
</div>
{% endblock %}