{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">

      <form action="{% url 'member_register' %}" method="POST">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group mb-2">
            <label class="col-sm-2 col-form-label">{{ field.label}}</label>
            {{ field }}

            {% comment %} {% if field.help_text %}
            <small>{{ field.help_text }}</small>
            {% endif %} {% endcomment %}

            {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}

          </div>
          {% endfor %}

          <div class="actions" style="padding: 16px 0;">
            <input class="btn btn-primary w-100" type="submit" value="登入">
          </div>
      </form>

    </div>
  </div>
</div>
{% endblock content %}